{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'dashboard:events_main' %}">Events Overview <span class="sr-only">(current)</span></a></li>
          </ul>
         
{% endblock %}
 

{% block content %}
<div class="page-header row">
  <div class="col-sm-6">
  <h1>{{ event.title }}</h1>
  </div>
    {% if perms.dashboard.update_events %}
    <div class="col-sm-3">
      <h4><a href="{% url 'dashboard:events_update' pk=event.pk %}">Update Events</h4></a>
    </div>
    {% endif %}  
    {% if perms.dashboard.delete_events %}
    <div class="col-sm-3">
      <h4><a href="{% url 'dashboard:events_delete' pk=event.pk %}">Delete Events</h4></a>
    </div>
    {% endif %}    
</div>
    
          <div class="row"><h3>POC: {{ event.poc }}</h3></div>
          <div class="row"><h3>Start Date: {{ event.start }}</h3></div>
          <div class="row"><h3>End Date: {{ event.end }}</h3></div>
          {% if event.team %}
          <div class="row"><h3>Team: {{ event.team }}</h3></div>
          {% else %}
          <div class="row"><h3>Team: No Team Assigned</h3></div>
          {% endif %}
          <div class="row"><h3>Description: <p>{{ event.description }}</p></h3></div>




{% endblock %}