{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    
    {% if title %}
    <h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
    {% endif %}
    
    <form  method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
	<div class="row">
	<div class='col-sm-6'>
	  {{ form.title|as_crispy_field }}</h4>
	</div>
	<div class='col-sm-6'>
		{{ form.team|as_crispy_field }}
	</div>
	</div>
	<div class="row">
	<div class='col-sm-6'>
	  {{ form.start|as_crispy_field }}</h4>
	</div>
	<div class='col-sm-6'>
		{{ form.end|as_crispy_field }}
	</div>
	<div class='col-sm-12'>
		<div class="row">
		{{ form.description|as_crispy_field }}
		</div>
	</div>
		{{ form.poc.as_hidden }}
    

    <input class='btn btn-default' type='submit' value='Submit' />
    <a class='btn btn-default' href="{% url 'dashboard:home' %}">Cancel</a>
       
</form>
</div>
</div>
{% endblock %}