{% extends "base.html" %}
{% load staticfiles %}
{% block navbar %}

         
{% endblock %}


{% block content %}
<div class="page-header row">
  <div class="col-sm-6">
  <h1>Event Manager</h1>
  </div>
    {% if perms.dashboard.add_events %}
	  <div class="col-sm-4 col-sm-offset-1">  
	  <a type="button" class="btn btn-md btn-default" href="{% url 'dashboard:events_create' %}">Add Event</a>
	  </div>
    {% endif %}
</div>
{% for event in event_list %}
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <div class="caption">
<div class="row">
	<div class="col-sm-12">
		<h3 style='color: #90949c; text-align: center'>{{ event.title }}</h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-1">
	<h4 style='color: #90949c'>Event POC:</h4>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ event.poc.profile.rank }} {{ event.poc.first_name }} {{ event.poc.last_name }}</h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-1">
	<h4 style='color: #90949c'>Team:</h4>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ event.team }}</h4>
	</div>	
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-2">
	<hr/>
  </div>	
</div>

<div class="row">
	<div class="col-sm-4 col-sm-offset-1">
	<h4 style='color: #90949c'>Start Date:</h4>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ event.start }}</h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-1">
	<h4 style='color: #90949c'>End Date:</h4>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ event.end }}</h4>
	</div>
</div>
</br>
{% if event.team %} 
{% endif %}
</br>
<!--Filter Drop Down	-->
<div class="row">
  <div class="col-sm-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="{{ event }}">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ event.id }}" aria-expanded="false" aria-controls="{{ event.id }}">
                Description
              </a>
            </h4>
          </div>             
          <div id="{{ event.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ event }}">
			<div class="panel-body">
			  <p>{{ event.description }}</p>
			</div>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading" role="tab" id="{{ event }}2">
			<h4 class="panel-title">
			  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ event.id }}2" aria-expanded="false" aria-controls="{{ event.id }}2">
				{{ event.team.title }} Member Conflicts
			  </a>
			</h4>
		  </div>
		  <div id="{{ event.id }}2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			<div class="panel-body">
          <!--Members-->
			  {% for member in event.team.teammember_set.all %}
				<div class="col-sm-12">
					{% for snivel in member.member.snivel_set.all %}
					  {% if snivel.start <= event.start and snivel.end >= event.start %}
						<h5 style='color: #90949c'><a href="{% url 'profiles:snivel_master' pk=member.member.profile.pk %}">{{ member.member.profile.rank }} {{ member.member.first_name }} {{ member.member.last_name }}</a>&nbsp;&nbsp;{{ snivel.description|truncatechars:30 }}</h5>
					  {% elif snivel.start <= event.end and snivel.end >= event.end %}
						<h5 style='color: #90949c'><a href="{% url 'profiles:snivel_master' pk=member.member.profile.pk %}">{{ member.member.profile.rank }} {{ member.member.first_name }} {{ member.member.last_name }}</a>&nbsp;&nbsp;{{ snivel.description|truncatechars:30 }}</h5>
						{% endif %}
					  {% endfor %}
				  </div>		
			  {% endfor %}			  
			</div>
		  </div>
		</div>		
	</div>
  </div>
</div>
</br>
<div class="row">
  <div class="col-sm-4 col-sm-offset-1">  
  <a type="button" class="btn btn-md btn-primary" href="{% url 'dashboard:events_update' pk=event.pk %}">Edit Event</a>
  </div>
  {% if perms.profiles.delete_team %}
  <div class="col-sm-4 col-sm-offset-1">  
    <a type="button" class="btn btn-md btn-danger" href="{% url 'dashboard:events_delete' pk=event.pk %}">Delete Event</a>
  </div>
  {% endif %}
</div>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock %}