{% extends "base.html" %}

{% block navbar %}            
        <ul class="nav nav-sidebar">
			{% if perms.dashboard.add_events %}		
			<li><a href="{% url 'dashboard:events_main' %}">Event Manager</a></li>
			{% endif %}
			{% if perms.profiles.add_team %}
			<li><a href="{% url 'profiles:team_main' %}">Team Manager</a></li>
			{% endif %}
			{% for app in app_list %}
			<li><a href="{{ app.app_local.get_absolute_url }}">{{ app.app_local.name }}</a></li>
			{% endfor %}
          </ul>
{% endblock %}

{% block script %}

<script>
    $(document).ready(function() 
        { 
            $("#domainsTable").tablesorter();
            $("#domainsTable1").tablesorter();
        } 
    );
    </script>

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
          <h1 class="page-header">{{ profile.unit.name }}</h1>
	</div>	 
	<div class="col-sm-6">
          <h2 class="page-header" style="text-align: right">{{ profile.user.first_name }}'s Dashboard</h2>
	</div>	  
</div>		  
          <div class="row placeholders">
			{% if perms.dashboard.add_events %}
			<a href="{% url 'dashboard:events_main' %}">
			<div class="col-xs-6 col-sm-3 placeholder">	
                <span class="fa fa-calendar fa-5x" style="
                  font-size: 15em;
                  text-align: center;
                  color: #333">    
                <p class='lead text-align-center'>Event Manager</p>
                </span>
				</div>	
			  </a>
			{% endif %} 
			{% if perms.profiles.add_team %}
			<a href="{% url 'profiles:team_main' %}">
			<div class="col-xs-6 col-sm-3 placeholder">	
                <span class="fa fa-users fa-5x" style="
                  font-size: 15em;
                  text-align: center;
                  color: #333">    
                <p class='lead text-align-center'>Team Manager</p>
                </span>
				</div>				
			  </a>
			{% endif %}              
			{% for app in app_list %}
			<div class="col-xs-6 col-sm-3 placeholder">
			  <a href="{{ app.app_local.get_absolute_url }}">
				{% if app.icon_name %}	
				<div class="col-xs-6 col-sm-3 placeholder">	
					<span class="{{ app.icon_name }}" style="
						font-size: 15em;
						text-align: center;
						color: #333">    
					<p class='lead text-align-center'>{{ app.app_local.name }}</p>
					</span>
				</div>
				{% else %}
			  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>{{ app.app_local.name }}</h4>
				{% endif %}
			  </a>
			</div>
			{% endfor %}
          </div>


{% if snivel_list.count > 0 %}
<div class="row">
  <div class="col-sm-6">
          <h2>Upcoming Events</h2>
  </div>
  <div class="col-sm-3">
          <h2 style="text-align: center">Upcoming Snivels</h2>
  </div>  
  <div class="col-sm-3">
	<div class="text-right">
	<a type="button" class="btn btn-lg btn-default" href="{% url 'dashboard:snivel_create' %}"><span class="fa fa-calendar-o"></span>&nbsp;Snivel</a>
	</div>
  </div>		  
</div>
<hr/>

<div class="col-sm-6">
  <div class="table">
	  <table id="domainsTable" class="table tablesorter"> 
	<thead>
	  <tr>
		<th>Title</th>
		<th>POC</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Team</th>
	  </tr>
	</thead>
	<tbody>
	{% for event in event_list %}
	<tr>
		<td>{{ event.title }}</td>
		<td>{{ event.poc.profile.rank }} {{ event.poc.first_name }} {{ event.poc.last_name }}</td>
		<td>{{ event.start }}</td>
		<td>{{ event.end }}</td>
	  {% if event.team %}  
		<td>{{ event.team }}</td>
	  {% else %}
		<td>No Team Assigned</td>
	  {% endif %}  
	</tr>
	{% endfor %}                                               
	</tbody>
  </table>
  </div>
</div>
<div class="col-sm-6">
  <div class="table">
	  <table id="domainsTable1" class="table tablesorter"> 
	<thead>
	  <tr>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Description</th>
		<th>Update</th>
		<th>Delete</th>		
	  </tr>
	</thead>
	<tbody>
	{% for snivel in snivel_list %}
	<tr>
		<td>{{ snivel.start }}</td>
		<td>{{ snivel.end }}</td>
		<td>{{ snivel.description|truncatechars:30 }}</td>
		<td><a type="button" class="btn btn-xs btn-primary" href="{% url 'dashboard:snivel_update' pk=snivel.pk %}"><span class="fa fa-plus-square"></span></a></td>
		<td><a type="button" class="btn btn-xs btn-danger" href="{% url 'dashboard:snivel_delete' pk=snivel.pk %}"><span class="fa fa-minus-square"></span></a></td>	
	</tr>
	{% endfor %}                                               
	</tbody>
  </table>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-sm-3">
          <h2>Upcoming Events</h2>
  </div>
  <div class="col-sm-9">
	<div class="text-right">
	<a type="button" class="btn btn-lg btn-default" href="{% url 'dashboard:snivel_create' %}"><span class="fa fa-calendar-o"></span>&nbsp;Snivel</a>
	</div>
  </div>		  
</div>
<hr/>
<div class="col-sm-12">
  <div class="table">
	  <table id="domainsTable" class="table tablesorter"> 
	<thead>
	  <tr>
		<th>Title</th>
		<th>POC</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Team</th>
	  </tr>
	</thead>
	<tbody>
	{% for event in event_list %}
	<tr>
		<td>{{ event.title }}</td>
		<td>{{ event.poc }}</td>
		<td>{{ event.start }}</td>
		<td>{{ event.end }}</td>
	  {% if event.team %}  
		<td>{{ event.team }}</td>
	  {% else %}
		<td>No Team Assigned</td>
	  {% endif %}
	</tr>
	{% endfor %}                                               
	</tbody>
  </table>
  </div>
</div>
{% endif %}
{% endblock %}  