{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'profiles:team_main' %}">Team Overview <span class="sr-only">(current)</span></a></li>
          </ul>
         
{% endblock %}


{% block content %}

<div class="page-header row">
	<div class="col-sm-6">
	<h3 style='font-weight: bold; color: #90949c'>Basic Information</h3>
	</div>
</div>
<div class="col-sm-6">
<div class="col-sm-12">
  <div class="thumbnail">
	<div class="caption">
<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>Name:</h4>
<hr/>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ profile.user.first_name }} {{profile.user.last_name }}</h4>
<hr/>
	</div>
	
</div>

<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>Rank:</h4>
<hr/>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ profile.rank }}</h4>
<hr/>
	</div>
	
</div>

<div class="row">
	<div class="col-sm-6">
    </hr>    
		{% if profile.user.designation.count > 1 %}
	<h4 style='color: #90949c'>Rates:</h4>
		{% else %}
	<h4 style='color: #90949c'>Rate/Designator:</h4>
		{% endif %}

	</div>
	<div class="col-sm-6">
		{% for designator in profile.user.designation_set.all %}
		{% if designator.count > 1 %}
		<p><h4 style='color: #90949c'>{{ designator }}</h4></p>
		{% else %}
		<h4 style='color: #90949c'>{{ designator.designator.name }}</h4>
		{% endif %}
		{% endfor %}
	</div>
	
</div>
<div class="row">
	<div class="col-sm-6">
<hr/>		
	<h4 style='color: #90949c'>Email:</h4>
<hr/>
	</div>
	<div class="col-sm-6">
<hr/>		
		<h4 style='color: #90949c'>{{ profile.user.email }}</h4>
<hr/>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>Phone Number:</h4>
	</div>
	<div class="col-sm-6">
     {% if profile.phone_number %}   
		<h4 style='color: #90949c'>{{ profile.phone_number }}</h4>
     {% else %}
     <h4 style='color: #90949c'>None</h4>
     {% endif %}
	</div>
</div>  
	</div>
  </div>
</div>
<div class="col-sm-12">
  <div class="thumbnail">
	<div class="caption">
<div class="row">
	<div class="col-sm-6">   
	<h4 style='color: #90949c'>Unit:</h4>
	</div>
	<div class="col-sm-6">  
		<h4 style='color: #90949c'>{{ profile.unit.name }}</h4>
	</div>
</div>
<div class="row">    
	<div class="col-sm-6">
        <hr/>     
		{% if profile.department.count > 1 %}
	<h4 style='color: #90949c'>Departments:</h4>
		{% else %}
	<h4 style='color: #90949c'>Department:</h4>
		{% endif %}
	</div>
	<div class="col-sm-6">
    <hr/>     
		{% for department in profile.department.all %}
		{% if department.count > 1 %}
		<p><h4 style='color: #90949c'>{{ department.name }}</h4></p>
		{% else %}
		<h4 style='color: #90949c'>{{ department.name }}</h4>
		{% endif %}
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
    <hr/>         
	<h4 style='color: #90949c'>Check-in Date:</h4>
<hr/>
	</div>
	<div class="col-sm-6">
    <hr/>     
		<h4 style='color: #90949c'>{{ profile.check_in }}</h4>
<hr/>
	</div>
	
</div>

<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>PRD:</h4>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ profile.prd }}</h4>
	</div>
</div>
	</div>
  </div>
</div>
</div>
<div class="col-sm-6">
<div class="col-sm-12">
  <div class="thumbnail">
	<div class="caption">  
    <div class="row">
    <div class="col-sm-6">        
    <h4 style='color: #90949c'>Snivels:</h4>
    </div>    
    <div class='col-sm-6'>
    <button type="button" class="btn btn-default"  id="{{ profile.id }}-button">Add Snivels</button>
       <div class="modal fade bs-example-modal-lg" id="{{ profile.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="MyModal">
         <div class="modal-dialog modal-lg" role="document">
           <div class='col-sm-12' style='text-align: center'>
                                             <div class="modal-content">
                                                
            <form id ='sendForm{{ profile.id }}' method='POST' action='{% url "ajax_snivel_create"  %}' enctype='multipart/form-data'>{% csrf_token %}
						<h4>Add Snivel for {{ profile.rank }} {{ profile.user.first_name}} {{ profile.user.last_name }}?</h4>
						<div class="row">
            <div class='col-sm-4 col-sm-offset-2'>
							{{ form.start|as_crispy_field }}
						</div>
            <div class='col-sm-4'>
						{{ form.end|as_crispy_field }}
						</div>
						</div>
						<div class="row">
            <div class='col-sm-8 col-sm-offset-2'>
            <h4> {{ form.description|as_crispy_field }}</h4>
						</div>
						</div>
            <select class='hidden' name='member'>
                <option value="{{ profile.user.id }}" selected="selected"></option>
            </select>
            <input type='submit' class='btn btn-default' value='Add' id='sendEventForm{{ profile.id }}' />
            </form>
              </div>
            </div>
       </div>
     </div>
    </div>

    </div>
    <hr/>
{% for snivel in snivel_list %}
<!--Filter Drop Down	-->
<div class="row">
  <div class="col-sm-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="{{ snivel }}">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ snivel.id }}" aria-expanded="false" aria-controls="{{ snivel.id }}">
                {{ snivel.start }} - {{ snivel.end }}
              </a>
            </h4>
          </div>             
          <div id="{{ snivel.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ snivel }}">
			<div class="panel-body">
			  <p>{{ snivel.description }}</p>
			</div>
		  </div>
		</div>		
	</div>
  </div>
</div>
    <div class="row">
    <div class="col-sm-6">  
      <a type="button" class="btn btn-md btn-primary" href="{% url 'dashboard:snivel_master_update' pk=profile.pk pk_2=snivel.pk %}">Edit Snivel</a>
    </div>        
    <div class="col-sm-6">  
      <a type="button" class="btn btn-md btn-danger" href="{% url 'dashboard:snivel_master_delete' pk=profile.pk pk_2=snivel.pk %}">delete Snivel</a>
    </div>         
    </div>
	<hr/>
    {% endfor %}
	</div>
  </div>
</div>	
</div>

<script>
    
$(document).ready(function(){           
	$("#sendEventForm{{ profile.id }}").click(function(e){
		e.preventDefault()    
		var mForm = $("#sendForm{{ profile.id }}").serialize();
		$.ajax({
			type: "POST",
			url: "{% url 'ajax_snivel_create'  %}",
			data: mForm,              
			success: function(data){
				console.log(data)
				$("#modalMessage").html("<p>This was Successful</p>")
				   $("#{{ profile.id }}-modal").modal("hide")
				  location.reload()
			},
			error: function(data){ 
				var obj = data.responseJSON
				console.log(obj)
				$("#modalMessage").html("<p>Please Fill out All Fields!</p>");
			}
		});
			
	});
  });

  
$('#{{ profile.id }}-button').click(function(){
    $("#{{ profile.id }}-modal").modal('show');
}); 

</script>
{% endblock %}