{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}

{% endblock %}


{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete this Snivel? "{{ object.description }}"</p>
    <input class='btn btn-danger' type="submit" value="Confirm" />
    <a class='btn btn-default' href="{% url 'dashboard:home' %}">Cancel</a>
</form>
    </div>

{% endblock %}