{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="page-header row">
  <div class="col-sm-6 col-sm-offset-3">
  <h1>{{ object.name }}<small>    Assets</small></h1>
  </div>     
</div>


<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    
    {% if title %}
    <h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
    {% endif %}
    
    <form  method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
    {{ form|crispy }}

    

    <input class='btn btn-default' type='submit' value='Submit' />
    <a class='btn btn-default' href="{% url 'dashboard:home' %}">Cancel</a>
       
</form>
</div>
</div>
{% endblock %}