{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block navbar %}

{% endblock %}

{% block script %}

<script>
    $(document).ready(function() 
        { 
            $("#domainsTable").tablesorter(); 
        } 
    );
    </script>


{% endblock %}

{% block content %}

<div class="page-header row">
  <div class="col-sm-6 col-sm-offset-3">
  <h1>Contact List <small>  {{ unit.name }}</small></h1>
  </div>     
</div>

<div class="row">
  
  
    <div class="col-sm-3">
	<form method='GET' action=''>
		<div class='input-group'>
			<input class='form-control' type='text' name='q' placeholder='Search' value='{{ request.GET.q }}'/>
			<span class='input-group-btn'>
			<input class='btn btn-default' type='submit' value='Search' />
			</span>
		</div>
	</form>
	</div>
     {% if perms.command.add_contact %}	
    <div class='col-sm-3'>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg">Add Contact</button>
         <div class='col-sm-10'>
           <div class="modal fade bs-example-modal-lg" id="EventModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
             <div class="modal-dialog modal-lg">
               <div class="modal-content">
			<form id ='sendForm' method='POST' action='{% url "ajax_contact_add"  %}' enctype='multipart/form-data'>{% csrf_token %}
			  <p id='modalMessage'></p>
                <div class="row">
                    <div class='col-sm-4 col-sm-offset-2'>
                        {{ form.name|as_crispy_field }}
                        </div>
                    <div class='col-sm-4'>
                        {{ form.phone_number|as_crispy_field }}
                    </div>    
                </div>        
                        {{ form.unit.as_hidden }}
					<div class='row'>
						<div class='col-sm-3 col-sm-offset-3'>
						<input type='submit' class='btn btn-default' value='Save' id='sendEventForm' />
						</div>
					</div>
              </form>
              </div>	
           </div>
         </div>
       </div>
    </div>
{% endif %}    
</div>

<hr/>

  <div class="table">
	<table id="domainsTable" class="table tablesorter"> 
	  <thead>       
		<tr>
		<th>Name</th>		
		<th>Phone Number</th>
        {% if perms.command.change_contact %}
		<th></th>
        {% endif %}
        {% if perms.command.delete_contact %}
        <th></th>
        {% endif %}
		</tr>
	  </thead>        
{% for contact in contact_list %}        
      <tr>
		<td>{{ contact.name }}</td>
        <td><a href="tel:+1{{ contact.phone_number }}">{{ contact.phone_number }}</a></td>
        {% if perms.command.change_contact %}
		<td><a type="button" class="btn btn-primary" href="{% url 'command:contact_update' pk=contact.pk %}"><span class="fa fa-pencil-square"></span> Edit</a></td>
		{% endif %}
        {% if perms.command.delete_contact %}
        <td><a type="button" class="btn btn-default" href="{% url 'command:contact_delete' pk=contact.pk %}"><span class="fa fa-minus-square"></span> Delete</a></td>
        {% endif %}
      </tr>
{% endfor %}       

<script>
$(document).ready(function(){           
	$("#sendEventForm").click(function(e){
		e.preventDefault()    
		var mForm = $("#sendForm").serialize();
		$.ajax({
			type: "POST",
			url: "{% url 'ajax_contact_add'  %}",
			data: mForm,              
			success: function(data){
				console.log(data)
				$("#modalMessage").html("<p>This was Successful</p>")
				   $("#EventModal").modal("hide")
				  location.reload()
			},
			error: function(data){ 
				var obj = data.responseJSON
				console.log(obj)
				$("#modalMessage").html("<p>Please Fill out All Fields!</p>");
			}
		});
			
	});
  });  

</script>



{% endblock %}