{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'command:unit_list' %}">Command List<span class="sr-only">(current)</span></a></li>
          </ul>
{% endblock %}

{% block script %}

<script>
    $(document).ready(function() 
        { 
            $("#domainsTable").tablesorter(); 
        } 
    );
    </script>


{% endblock %}

{% block content %}
<div class="page-header row">
  <div class="col-sm-6 col-sm-offset-3">
  <h1>{{ unit.name }}<small>    {{ unit.uic }}</small></h1>
  </div>     
</div>

<div class="row">
     <div class="col-sm-2 col-sm-offset-1">
	<h4 style='color: #90949c'>Departments</h4>
     </div>
    <div class="col-sm-2">
    <a type="button" class="btn btn-md btn-success" href="{% url 'command:dept_create' unit_slug=unit.unit_slug %}"><span class="fa fa-check-square"></span> Add Department</a>          
    </div>
     <div class="col-sm-2 col-sm-offset-1">
	<h4 style='color: #90949c'>Assets</h4>
     </div>     <div class="col-sm-2">
    <div class="col-sm-2">
    <a type="button" class="btn btn-md btn-success" href="{% url 'command:asset_update' unit_slug=unit.unit_slug %}"><span class="fa fa-check-square"></span> Add Asset</a>          
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-1"> 
    <div class="list-group">
     <hr/> 
      {% for object in object_list %}  
      <a type="button" class="list-group-item" href="{% url 'command:div_list' unit_slug=unit.unit_slug dept_slug=object.dept_slug %}">{{ object.name}}</a>
      {% endfor %}
    </div>
  </div> 
  <div class="col-sm-4 col-sm-offset-1"> 
    <div class="list-group">
     <hr/> 
    {% for asset in unit.assets.all %}
      <a type="button" class="list-group-item" href="{% url 'command:dept_list' unit_slug=asset.unit_slug %}">{{ asset }}</a>
  {% endfor %}
    </div>
  </div> 
</div>




{% endblock %}