{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Exports</a></li>
          </ul>
{% endblock %}

{% block content %}
      <h1 class="page-header">Command List</h1>
</table>
<div class="row">
    <div class="col-sm-6">
    </div>    
    <div class="col-sm-6">
        <h1 style="text-align: right">
            <a href="{% url 'command:div_create' unit_slug=unit.unit_slug dept_slug=department.dept_slug %}">
            <span class="fa fa-check-square" style="
              color: #333">      Add Division
            </span>
            </a>  
        </h1>
    </div>
</div>
<hr/>


<div class="table-responsive">
  <table id="table" class="table table-striped"> 
    <thead>       
      <tr>
        <th>Name</th>
      </tr>   
    </thead>
{% for object in object_list %}        
      <tr>
        <td>{{ object.name }}</td>

      </tr>
{% endfor %}        







{% endblock %}