{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    
    {% if title %}
    <h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
    {% endif %}
    
    <form  method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
    {{ form.user.as_hidden }}
    {{ form.unit.as_hidden }}
    {{ form.name|as_crispy_field }}
    {{ form.document|as_crispy_field }}
    


    

    <input class='btn btn-default' type='submit' value='Submit' />
    <a class='btn btn-default' href="{% url 'command:instruction_list' %}">Cancel</a>
       
</form>
</div>
</div>
{% endblock %}