{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block navbar %}

{% endblock %}

{% block script %}

<script>
    $(document).ready(function() 
        { 
            $("#domainsTable").tablesorter(); 
        } 
    );
    </script>


{% endblock %}

{% block content %}

<div class="page-header row">
  <div class="col-sm-6 col-sm-offset-3">
  <h1>Command Instructions <small>  {{ unit.name }}</small></h1>
  </div>
</div>

<div class="row">
  
  
    <div class="col-sm-3">
	<form method='GET' action=''>
		<div class='input-group'>
			<input class='form-control' type='text' name='q' placeholder='Search' value='{{ request.GET.q }}'/>
			<span class='input-group-btn'>
			<input class='btn btn-default' type='submit' value='Search' />
			</span>
		</div>
	</form>
	</div>
    {% if perms.command.add_instruction %}
    <div class="row">
      <div class="col-sm-3">  
      <a type="button" class="btn btn-md btn-default" href="{% url 'command:instruction_create' %}">Add Instruction</a>
      </div>
    </div>
    {% endif %}      
</div>

<hr/>

  <div class="table">
	<table id="domainsTable" class="table tablesorter"> 
	  <thead>       
		<tr>
		<th>Name</th>
        {% if perms.command.change_instruction %}
		<th></th>
        {% endif %}
        {% if perms.command.delete_instruction %}
		<th></th>
        {% endif %}
        <th>Last Updated By</th>
		</tr>
	  </thead>        
{% for instruction in instruction_list %}        
      <tr>
		<td><a target="_blank" href="{{ instruction.document.url }}">{{ instruction.name }}</a></td>
        {% if perms.command.change_instruction %}
		<td><a type="button" class="btn btn-primary" href="{% url 'command:instruction_update' pk=instruction.pk %}"><span class="fa fa-pencil-square"></span> Edit</a></td>
		{% endif %}
        {% if perms.command.delete_instruction %}
        <td><a type="button" class="btn btn-default" href="{% url 'command:instruction_delete' pk=instruction.pk %}"><span class="fa fa-minus-square"></span> Delete</a></td>
        {% endif %}
        <td>{{ instruction.user.profile.rank }} {{ instruction.user.first_name }} {{ instruction.user.last_name }}</td>
      </tr>
{% endfor %}       




{% endblock %}