{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Exports</a></li>
          </ul>
{% endblock %}


{% block content %}

      <h1 class="page-header">{{ unit.name }}</h1>
<div class="row homepage">
{% for department in unit.departments.all %}
  <div class='col-sm-3'>
    <a href="{% url 'command:dept_detail' unit_slug=unit.unit_slug dept_slug=department.dept_slug %}">
	<div class="col-xs-6 col-sm-3 placeholder">
	  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
	  <h4>{{ department.name }}</h4>
	  <span class="text-muted">Something else</span>
	</div>
    </a>
</div>
  
{% endfor %}









{% endblock %}