{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'settings' %}">Settings <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
          </ul>
{% endblock %}

{% block script %}

<script>
    $(document).ready(function() 
        { 
            $("#domainsTable").tablesorter(); 
        } 
    );
    </script>


{% endblock %}

{% block content %}
      <h1 class="page-header">Command List</h1>
<div class="row">
    <div class="col-sm-9">
    </div>    
    <div class="col-sm-3">
      <a type="button" class="btn btn-success" href="{% url 'command:unit_create' %}"><span class="fa fa-check-square"></span> Add Command</a>
    </div>
</div>
<hr/>

  <div class="table">
	<table id="domainsTable" class="table tablesorter"> 
	  <thead>       
		<tr>
		  <th>Name</th>
		  <th>UIC</th>
		  <th>Command Type</th>
          <th>Assets</th>
		</tr>
	  </thead>        
{% for object in object_list %}        
      <tr>
        <td><a href="{% url 'command:dept_list' unit_slug=object.unit_slug %}" title="Permanent Link to {{ object.name}}"> {{ object.name }}</a></td>
        <td>{{ object.uic }}</td>
        <td>
          {% for asset_type in object.asset_type.all %}
          {{ asset_type.name }}
          {% endfor %}
        </td>
        <td>{{ object.assets.count }}</td>

      </tr>
{% endfor %}       








{% endblock %}