{% include 'javascript.html' %}
{% include 'head_css.html' %}

{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block head_title %}Magalytics{% endblock head_title %}</title>
  </head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Magalytics</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.profile.unit.name }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'command:contact_list' %}">Contact List</a></li>
                <li><a href="{% url 'command:instruction_list' %}">Command Instructions</a></li>
              </ul>
            </li>            
            <li><a href="{% url 'dashboard:home' %}">Dashboard</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'profiles:profile_main' pk=request.user.profile.pk %}">Profile</a></li>
            {% endif %}
            {% if request.user.is_staff %}
            <li><a href="{% url 'settings' %}">Settings</a></li>
            {% endif %}          
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
{% block navbar %}            

{% endblock %}          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">        
{% block content %}

{% endblock %}

{% block script %}


{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>