{% load staticfiles %}


<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">



<!-- Custom styles for this template-->
<link href="{% static 'css/custom.css' %}" rel="stylesheet">

<link href="{% static 'css/themes/blue/style.css' %}" rel='stylesheet'>
