{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<link href={% static 'css/cover.css' %} rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper">
        <div class="cover-container">

          <div class="inner cover">
            <p class="lead">
            <a href="{% url 'account_login' %}"><img style="text-align: center" src="{% static 'img/magalytics3.png' %}" class="img-responsive" width="400" height="450" /></a>
            </p>
          </div>
      </div>
    </div>
  </body>
</html>
