{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'dashboard:home' %}">Overview <span class="sr-only">(current)</span></a></li>
          </ul>
{% endblock %}

{% block content %}
                <h1 style="text-align: left">Master Settings
                </h1> 
            </br>
            <hr/>
            {% if request.user.is_staff %}
            <div class="row homepage">
              <div class='col-sm-3'>
                <a href="{% url 'command:unit_list' %}">
                <span class="fa fa-sitemap fa-5x" style="
                  font-size: 10em;
                  text-align: center;
                  color: #333">    
                <p class='lead text-align-center'>Commands</p>
                </span>
                </a>
              </div>
              <div class='col-sm-3'>
                <a href="{% url 'ship_create' %}">
                <span class="fa fa-ship fa-5x" style="
                  font-size: 10em;
                  text-align: center;
                  color: #333">    
                <p class='lead text-align-center'>Add New Ship</p>
                </span>
                </a>
              </div>
              <div class='col-sm-3'>
                <a href="{% url 'gen_cert' %}">
                <span class="fa fa-plus-square-o fa-5x" style="
                  font-size: 10em;
                  text-align: center;
                  color: #333">    
                <p class='lead text-align-center'>Manage Hull Certifications</p>
                </span>
                </a>
              </div>
              <div class='col-sm-3'>
                <a href="{% url 'gen_assess' %}">
                <span class="fa fa-check-square-o fa-5x" style="
                  font-size: 10em;
                  text-align: center;
                  color: #333">    
                <p class='lead text-align-center'>Manage Hull Assessments</p>
                </span>
                </a>
              </div>                
            </div>
            <div class="row">
              <div class='col-sm-3'>
                <a href="{% url 'create_profile' %}">
                <span class="fa fa-user fa-5x" style="
                  font-size: 10em;
                  text-align: center;
                  color: #333">    
                <p class='lead text-align-center'>Create New Profile</p>
                </span>
                </a>
              </div>
            </div>
{% endif %}

{% endblock %}