{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
          </ul>
{% endblock %}


{% block content %}

<div class="page-header row">
  <div class="col-sm-6">
  <h1>Assessments List</h1>
  </div>
    {% if perms.ship.add_assess_name %}
    <div class="col-sm-6">
      <h4><a href="{% url 'gen_assess_create' %}">Add Generic Assessment</h4></a>
    </div>
    {% endif %}
</div> 

<div class="table-responsive">
  <table id="table" class="table table-striped"> 
    <thead>       
      <tr style="text-align: center">
        <th>Title</th>
      </tr>   
    </thead>
{% for object in object_list %}        
      <tr>
        <td><a href="{% url 'gen_assess_update' pk=object.pk %}">{{ object.name }}</a></td>
      </tr>
{% endfor %}

{% endblock %}