{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'ship:ship_detail' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Main Page</a></li>
            <li><a href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications</a></li>
            <li><a href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies</a></li>
            <li class="active"><a href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments<span class="sr-only">(current)</span></a></li>
          </ul>
{% endblock %}


{% block content %}
<div class="page-header row">
  <div class="col-sm-6">
  <h1>{{ ship.ship_name }} Assessments</h1>
  </div>
<div class="col-sm-6">  
<div class="btn-group btn-group-lg"  role="group" aria-label="...">
  <a type="button" class="btn btn-default" href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications</a>
  <a type="button" class="btn btn-default" href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies</a>
  <a type="button" class="btn btn-default" href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments</a>
</div>
</div>  
</div>
</br>
</br>
<div class="col-lg-12">
    <h1>New Assessment</h1>
    </br>
<div class="input-group-btn">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assessment Type<span class="caret"></span></button>    
  <ul class="dropdown-menu">
  {% for object in object_list %}
  <li><a href="{% url 'ship:space_list' ship_main_slug=main_slug ship_slug=ship.ship_slug assess_slug=object.assess_slug %}">{{ object.name }}</a></li> 
  {% endfor %}
  </ul>
</div>
</div> 
</br>
</br>
</br>
<div class="col-lg-12">
    <div class="table-responsive">
      <table id="table" class="table table-striped"> 
        <thead>       
          <tr>
            <hr/>
            <th>Question</th>
            <th>Assessment</th>
            <th>Space</th>
            <th>Equipment</th>
            <th>Answer</th>
            <th>Date Answered</th>
            <th>Asssessor</th>
          </tr>   
        </thead>
    
    {% for object in ass_set %}        
          <tr>
            <td>{{ object.question }}</td>
            <td>{{ object.assess_type }}</td>
            <td>{{ object.space }}</td>
            <td>{{ object.equipment }}</td>
            <td>{{ object.answer }}</td>
            <td>{{ object.timestamp }}</td>
            <td>{{ object.user }}</td>
          </tr>
    </div>
</div>
{% endfor %} 


{% endblock %}