{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    
    {% if title %}
    <h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
    {% endif %}
    
    <form  method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}

				<div class="row">
				<div class='col-sm-6'>
				  {{ form.department|as_crispy_field }}</h4>
				</div>
				<div class='col-sm-6'>
				  {{ form.system|as_crispy_field }}</h4>
				</div>
				</div>
				<hr/>
			  <div class="row">
				<div class='col-sm-6'>
					{{ form.discover_date|as_crispy_field }}
				</div>
				<div class='col-sm-6'>
					<div class="row">
					{{ form.repair_schedule|as_crispy_field }}
					</div>
					<div class="row">
					{{ form.casrep|as_crispy_field }}
					</div>
				</div>
				</div>
				<hr/>
				<div class="row">
				  <div class='col-sm-12' style='text-align: left'>
					{{ form.description|as_crispy_field }}
				  </div>
				</div>
				<hr/>
				<div class="row">
				<div class='col-sm-6'>
					{{ form.jsn|as_crispy_field }}
				  </div>					
				  <div class='col-sm-2'>
					{{ form.sat|as_crispy_field }}
				  </div>
				<div class='col-sm-2'>
					{{ form.sto|as_crispy_field }}
				  </div>
				<div class='col-sm-2'>
					{{ form.active|as_crispy_field }}
				  </div>
				</div>

					{{ form.user.as_hidden }}
					{{ form.ships.as_hidden }}

    <input class='btn btn-default' type='submit' value='Submit' />
    <a class='btn btn-default' href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Cancel</a>
       
</form>
</div>
</div>
{% endblock %}