{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    
    {% if title %}
    <h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
    {% endif %}
    
    <form  method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
    {{ form.discrepancy.as_hidden }}
    {{ form.image }}
    </br>

    

    <input class='btn btn-default' type='submit' value='Save and add Another' />
    <a class='btn btn-default' href="{% url 'ship:hit_detail' ship_main_slug=main_slug ship_slug=ship.ship_slug pk=discrepancy.pk %}">Finished</a>
       
</form>
</div>
</div>
{% endblock %}