{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Overview <span class="sr-only">(current)</span></a></li>
          </ul>
{% endblock %}


{% block content %}

<div class="page-header row">
	<div class="col-sm-6">
	<h3 style='font-weight: bold; color: #90949c'>Discrepancy Detail</h3>
	</div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div class="caption">
<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>Ship:</h4>
<hr/>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ obj.ships.ship_name }}</h4>
<hr/>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>System:</h4>
<hr/>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ obj.system }}</h4>
<hr/>
	</div>
	
</div>

<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>Department:</h4>
<hr/>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ obj.department }}</h4>
<hr/>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>Date:</h4>
<hr/>
	</div>
	<div class="col-sm63">
		<h4 style='color: #90949c'>{{ obj.discover_date }}</h4>
<hr/>
	</div>
	
</div>

<div class="row">
	<div class="col-sm-3">
	<h4 style='color: #90949c'>SAT</h4>
	</div>
	<div class="col-sm-3">
		<h4 style='color: #90949c'>{{ obj.sat }}</h4>
	</div>
	<div class="col-sm-3">
	<h4 style='color: #90949c'>STO</h4>
	</div>
	<div class="col-sm-3">
		<h4 style='color: #90949c'>{{ obj.sto }}</h4>
	</div>
</div>
	  </div>
	</div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div class="caption">
<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>Repair Schedule</h4>
<hr/>
	</div>
	<div class="col-sm-6">
    {% if obj.repair_schedule %}
		<h4 style='color: #90949c'>{{ obj.repair_schedule }}</h4>
    {% else %}
    <h4 style='color: #90949c'>TBD</h4>
    {% endif %}
<hr/>
	</div>
	
</div>

<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>Last Change</h4>
<hr/>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ obj.updated }}</h4>
<hr/>
	</div>
	
</div>

<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>Update By</h4>
<hr/>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ obj.user.profile.rank }} {{ obj.user.first_name }} {{ obj.user.last_name }}</h4>
<hr/>
	</div>
	
</div>
<!--Filter Drop Down	-->
<div class="row">
	<div class="col-sm-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="{{ obj }}">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ obj.id }}" aria-expanded="false" aria-controls="{{ obj.id }}">
                Description
              </a>
            </h4>
          </div>             
          <div id="{{ obj.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ obj }}">
        <div class="panel-body">
                <div class="col-sm-12">
                    <h4 style='color: #90949c'>{{ obj.description }}</h4>
              </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>
<hr/>
<div class="row">
{% if perms.ship.change_discrepancy %}  
    <div class="col-sm-2 col-sm-offset-2">
        <a type="button" class="btn btn-md btn-primary" href="{% url 'ship:hit_update' ship_main_slug=main_slug ship_slug=ship.ship_slug  pk=obj.pk %}">Edit</a>
    </div>
{% endif %}    
{% if perms.ship.delete_discrepancy %}    
    <div class="col-sm-2 col-sm-offset-2">
  <a type="button" class="btn btn-md btn-danger" href="{% url 'ship:hit_delete' ship_main_slug=main_slug ship_slug=ship.ship_slug pk=obj.pk %}">Delete</a>
    </div>
{% endif %}
	</br>
		</br>
	  </div>
	</div>
  </div>
</div>
<div class="page-header row">
	<div class="col-sm-4">
	<h3 style='text-align: left; font-weight: bold; color: #90949c'>Images</h3>
	</div>
{% if perms.ship.change_discrepancy %}    
    <div class="col-sm-3">
  <a type="button" class="btn btn-lg btn-default" href="{% url 'ship:hit_image' ship_main_slug=main_slug ship_slug=ship.ship_slug pk=obj.pk %}">Add Image</a>
    </div>
{% endif %}	
</div>
{% for image in image_list %}  
<div class="col-sm-2">	
  <div class="thumbnail">
	<div class="caption">
		  <button type="button" class="btn btn-default"  id="{{ image.id }}-button">
			<img src='{{ image.image.url }}' class='img-responsive' width="190" height="200" />	  
		  </button>
		<div class="row">
			<hr/>
			{% if perms.ship.change_discrepancy %} 
			<div class='col-sm-12' style='text-align: center'>
			<a type="button" class="btn btn-xs btn-danger" href="{% url 'ship:hit_image_delete' ship_main_slug=main_slug ship_slug=ship.ship_slug pk=obj.pk pk_1=image.pk %}">Delete Image</a>
			</div>
			{% endif %}
		</div>	
			 <div class="modal fade bs-example-modal-lg" id="{{ image.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="MyModal">
			   <div class="modal-dialog modal-lg" role="document">
				  <div class='col-sm-12' style='text-align: center'>
				 <div class="modal-content">
				  <img src='{{ image.image.url }}' class='img-responsive' width="auto" height="auto" />
				</div>
			   </div>
			 </div>
		   </div>		  
	  </div>
	</div>
  </div>
<script>  
$('#{{ image.id }}-button').click(function(){
    $("#{{ image.id }}-modal").modal('show');
}); 
</script>
{% endfor %}


{% endblock %}