{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block navbar %}
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'ship:ship_detail' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Main Page</a></li>
            <li><a href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications</a></li>
            <li class="active"><a href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies<span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments</a></li>
          </ul>
{% endblock %}

{% block script %}

<script>
    $(document).ready(function() 
        { 
            $("#domainsTable").tablesorter(); 
        } 
    );
    </script>


{% endblock %}

{% block content %}

<div class="page-header row">
  <div class="col-sm-6">
  <h1>{{ ship.ship_name }} Discrepancies</h1>
  </div>
<div class="col-sm-6">  
<div class="btn-group btn-group-lg"  role="group" aria-label="...">
  <a type="button" class="btn btn-default" href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications</a>
  <a type="button" class="btn btn-default" href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies</a>
  <a type="button" class="btn btn-default" href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments</a>
</div>
</div>   
</div>      
<div class="row">
	<div class='col-sm-4'>
	<form method='GET' action=''>
		<div class='input-group'>
			<input class='form-control' type='text' name='q' placeholder='Search' value='{{ request.GET.q }}'/>
			<span class='input-group-btn'>
			<input class='btn btn-default' type='submit' value='Search' />
			</span>
		</div>
	</form>
</div>	
	
  <div class='col-sm-2'>
	<form role="form" class="form-inline" method='GET' action=''>		
    <div class='input-group'>
	<div class="form-group">	
	<select class="select form-control"name="active">
      <option value=True selected="selected">Active</option>
      <option value=False>Corrected</option>           
	</select>
	</div>
		<div class="btn-group">
		<input class='btn btn-default' type='submit' value='Go' />
		</div>
    </div>
	</form>
  </div>
	    {% if perms.ship.add_discrepancy %}
    <div class="col-sm-2">
			<a type="button" class="btn btn-md btn-success" href="{% url 'ship:hit_create' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Add Discrepancy</a>
    </div>
    {% endif %}
    <div class="col-sm-2">
	<form action="" method="POST">
	  {% csrf_token %}
	  <input type="submit" class="btn" name="e" value='Export'>
	</form>  
    </div>   
</div>
<!--Table-->
<div class="table">
  <table id="domainsTable" class="table tablesorter"> 
    <thead>       
      <tr>
        <th>System</th>
		<th>Department</th>
		<th>JSN</th>
        <th>Description</th>
        <th>Date Discovered</th>
		<th>SAT</th>
        <th>STO</th>
		<th>CASREP CAT</th>
        <th>Repair Schedule</th>
        <th>Last Updated</th>
      </tr>
    </thead>
{% for object in object_list %}        
      <tr>
        <td><a href="{% url 'ship:hit_detail' ship_main_slug=main_slug ship_slug=object.ships.ship_slug pk=object.pk %}">{{ object.system }}</a></td>
		<td>{{ object.ships.department }}</td>
        <td>{{ object.jsn }}</td>
        <td>{{ object.description|truncatechars:20 }}</td>
        <td>{{ object.discover_date }}</td>
        <td>{{ object.sat }}</td>
        <td>{{ object.sto }}</td>
        <td>{{ object.casrep }}</td>
        <td>{{ object.repair_schedule }}</td>   
        <td>{{ object.updated }}</td>
      </tr>
{% endfor %}	  
</div>

{% endblock %}