{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'ship:ship_detail' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Main Page</a></li>
            <li class="active"><a href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications<span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies</a></li>
            <li><a href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments</a></li>
          </ul>
{% endblock %}

{% block script %}

<script>
    $(document).ready(function() 
        { 
            $("#domainsTable").tablesorter(); 
        } 
    );
    </script>


{% endblock %}

{% block content %}

<div class="page-header row">
  <div class="col-sm-6">
  <h1>{{ ship.ship_name }} Certifications List</h1>
  </div>
<div class="col-sm-6">  
<div class="btn-group btn-group-lg"  role="group" aria-label="...">
  <a type="button" class="btn btn-default" href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications</a>
  <a type="button" class="btn btn-default" href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies</a>
  <a type="button" class="btn btn-default" href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments</a>
</div>
</div>  
</div>

<div class="row">	
	    {% if perms.ship.add_gen_cert %}
    <div class="col-sm-2">
			<a type="button" class="btn btn-md btn-success" href="{% url 'ship:loc_cert_create' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Add Certification</a>
    </div>
    {% endif %}
    <div class="col-sm-2">
	<form action="" method="POST">
	  {% csrf_token %}
	  <input type="submit" class="btn" name="e" value='Export'>
	</form>  
    </div>   
</div>

<div class="table">
  <table id="domainsTable" class="table tablesorter">
    <thead>       
      <tr>
        <th>Name</th>
        <th>Instruction</th>
        <th>Certification Date</th>
        <th>Periodicity</th>
        <th>Expiration Date</th>
        <th>Next Scheduled</th>
        <th>POC</th>          
        <th>Updated By</th>        
        <th>Documentation</th>
      </tr>   
    </thead>
{% for object in object_list %}        
      <tr>
        <td><a href="{% url 'ship:loc_cert_update' ship_main_slug=main_slug ship_slug=ship.ship_slug pk=object.pk %}" title="Permanent Link to {{ object.name}}"> {{ object.name }}</a></td>
        <td>{{ object.name.instruction }}</td>
        <td>{{ object.cert_date }}</td>
        <td>{{ object.name.perodicity }}</td>
        <td>{{ object.expiration_date }}</td>
        <td>{{ object.next_scheduled }}</td>
        <td>{{ object.poc }}</td>
        <td>{{ object.user }}</td>        
        {% if object.document %}
        <td><a href="{{ object.document.url }}"><h4>{{ object.document.name }}</h4></a></td> 
        {% else %}
        <td><h4>No Document</h4></td>
        {% endif %}
      </tr>
{% endfor %}

{% endblock %}