{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'ship:ship_main' ship_main_slug=main_slug %}">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications</a></li>
            <li><a href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies</a></li>
            <li><a href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments</a></li>
          </ul>
{% endblock %}


{% block content %}
<div class="page-header row">
<div class="col-sm-10 col-sm-offset-4">
  <h1>{{ assess_name.name }}</h1>
  </div>
</div> 
<div class="row">     
  <div class="col-sm-6 col-md-offset-2">
    <div class="thumbnail">
      <div class="caption">      

        {% if queryset.has_next %}
        <form id="question-form" method='POST' action='?page={{ queryset.next_page_number }}'>{% csrf_token %}
        {% endif %}
        {% if not queryset.has_next %}
        <form id="question-form" method='POST' action=''>{% csrf_token %}
        {% endif %}
        <br/>        
        <br/>
        {% for obj in queryset %}
	<div class="col-sm-12">
		<h2 style='color: #90949c; text-align: center'>{{ obj.question }}</h2>
      <hr/>
          </div>           
        <input type='hidden' name='question_id' value='{{ obj.id }}' />  
        </br>
        {% for ans in obj.answers.all %}
        <h3 style='color: #90949c; text-align: center'><input type='radio' name='answer_id' value='{{ ans.id }}'/> {{ ans.answer }}</h3></hr>
        {% endfor %}
        {% endfor %}
        </br>
        <input id="submit-btn" class='btn btn-default' type='submit' value='Save and Continue' />
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">     
  <div class="col-sm-6 col-md-offset-2">
<ul class="pagination">
    {% if queryset.has_previous %}    
    <li>
    <a href="?page={{ queryset.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
    </a>       
    </li>    
    {% endif %}
    {% if not queryset.has_previous %}    
    <li class ="disabled">
    <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
    </a>       
    </li>    
    {% endif %}
    <li>
    {% for obj in object_list %}
        {% if obj.question_order == queryset.number %}
         <li class='active'><a href="?page={{ obj.question_order }}">{{ obj.question_order }}<span class="sr-only">(current)</span></a></li>
        {% endif %}
    {% if obj.question_order != queryset.number %}
    <li><a href="?page={{ obj.question_order }}">{{ obj.question_order }}</a></li>    
    {% endif %}
    {% endfor %}
    </li>
    {% if queryset.has_next %}    
    <li>
    <a  id="nextform" href="?page={{ queryset.next_page_number }}">
        <span aria-hidden="true">&raquo;</span>        
    </a>
    </li>
    {% endif %}
    {% if not queryset.has_next %}    
    <li class="disabled">
    <a href="#">
        <span aria-hidden="true">&raquo;</span>        
    </a>
    </li>
    {% endif %}
</ul>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Discrepancy</h4>
      </div>
      <div class="modal-body">
        {% if queryset.has_next %}
        <form id ='sendForm' method='POST' action='{% url "ajax_hit_list"  %}'>{% csrf_token %}
        {% else %}
        <form id ='sendForm' method='POST' action=''>{% csrf_token %}
        {% endif %}
        <span>
            
           {{ hitform.user.as_hidden }}
            {{ hitform.ships.as_hidden }}
            {{ hitform.ships.as_hidden }}
            {{ hitform.system.as_hidden }}
            {{ hitform.discover_date.as_hidden }}
            <h4>Department: {{ hitform.department }}</h4>
            <p id='modalMessage'></p>
            <h4>Description: {{ hitform.description }}</h4>
            <h4>Repair Schedule: {{ hitform.repair_schedule }}</h4>
            <h4>SAT: {{ hitform.sat }}</h4>
            <h4>STO: {{ hitform.sto }}</h4>
            <h4>JSN: {{ hitform.jsn }}</h4>         
        </span>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" id="sendDiscrepancyForm">
      </form>  
      </div>
    </div>
  </div>
</div>
<script>  
    $(document).ready(function(){           
        $("#submit-btn").click(function(event){
            event.preventDefault();
            var formData = $("#question-form").serializeArray();
            var indexed_array = {};
        
            $.map(formData, function(n, i){
                indexed_array[n['name']] = n['value'];
            });
            var answer = indexed_array.answer_id;
            console.log(answer);
            if (answer != 2) {
                $("#question-form").submit()
                location.reload()
            }           
            else {
                $("#questionModal").modal("show");    
            
               }
            $("#sendDiscrepancyForm").click(function(e){
                e.preventDefault()    
                var mForm = $("#sendForm").serialize()
                $.ajax({
                    type: "POST",
                    url: "{% url 'ajax_hit_list'  %}",
                    data: mForm,              
                    success: function(data){
                        console.log(data)
                        $("#modalMessage").html("<p>This was Successful</p>")
                           $("#questionModal").modal("hide")
                            $("#question-form").submit()
                                location.reload()
                    },
                    error: function(data){ 
                        var obj = data.responseJSON
                        console.log(obj)
                        $("#modalMessage").html("<p>Please Fill out All Fields!</p>");
                    }
                });
                
            });
        });        
    });
</script>

{% endblock %}