{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'ship:ship_main' ship_main_slug=main_slug %}">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications</a></li>
            <li><a href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies</a></li>
            <li><a href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments</a></li>
          </ul>
{% endblock %}
{% block content %}
<head>
</head>

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    
    {% if title %}
    <h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
    {% endif %}
    
    <form  method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
    {{ form|crispy }}
    

    <input class='btn btn-default' type='submit' value='Save and add Another' />
    <a class='btn btn-default' href="{% url 'ship:equipment_list' ship_main_slug=main_slug ship_slug=ship.ship_slug assess_slug=assess_name.assess_slug pk_1=space.pk %}">Finished</a>
    
    
</form>
</div>
</div>



      
{% endblock %}