{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'ship:ship_main' ship_main_slug=main_slug %}">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications</a></li>
            <li><a href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies</a></li>
            <li><a href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments</a></li>
            <li><a href="{% url 'ship:equipment_list' ship_main_slug=main_slug ship_slug=ship.ship_slug assess_slug=assess_name.assess_slug pk_1=space.pk %}">{{ assess_name.name }} {{ equipment }} Equipment List</a></li>
          </ul>
{% endblock %}


{% block content %}
    
<div class="page-header row">
  <div class="col-sm-6">
  <h1>{{ equipment.name }} Questions</h1>
  </div>
    {% if perms.ship.add_question %}
    <div class="col-sm-6">
      <h4><a type="button" class="btn btn-md btn-success" href="{% url 'ship:question_create' ship_main_slug=main_slug ship_slug=ship.ship_slug assess_slug=assess_name.assess_slug pk_1=space.pk pk_2=equipment.pk %}">Add Question</h4></a>
    </div>
    {% endif %}
</div> 

{% if perms.ship.delete_space %}        
<div class="col-lg-8 col-sm-offset-2">
  <div class="thumbnail">
    <div class="caption">  
    <div class="table-responsive">
      <table id="table" class="table table-striped"> 
        <thead>       
          <tr>
            <th>Question</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Order</th>

          </tr>   
        </thead>
    
    {% for object in object_list %}        
          <tr>
            <td>{{ object.question }}</td>
            <td><a type="button" class="btn btn-md btn-primary" href="{% url 'ship:question_update' ship_main_slug=main_slug ship_slug=ship.ship_slug assess_slug=assess_name.assess_slug pk_1=space.pk pk_2=equipment.pk pk=object.pk %}">Edit</a></td>
            <td><a type="button" class="btn btn-md btn-danger" href="{% url 'ship:question_delete' ship_main_slug=main_slug ship_slug=ship.ship_slug assess_slug=assess_name.assess_slug pk_1=space.pk pk_2=equipment.pk pk=object.pk %}">Delete</a></td>
            <td>{{ object.question_order }}</td>
          </tr>
    {% endfor %}
    </div>
  </div>
</div>
</div>
{% endif %}
{% endblock %}