{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
{% if ship_list.count > 1 %}
          <ul class="nav nav-sidebar">
          {% if perms.ship.change_system %}
            <li class='active'><a href="{% url 'ship:issue_tracker' ship_main_slug=main_slug %}">Class Tracker</a></li>
          {% endif %}
            {% for ship in ship_list %} 
            <li><a href="{% url 'ship:ship_detail' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">{{ ship.ship_name }}</a></li>
            {% endfor %}
          </ul>
{% else %}
      {% for ship in ship_list %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'ship:ship_main' ship_main_slug=main_slug %}">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications</a></li>
            <li><a href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies</a></li>
            <li><a href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments</a></li>
          </ul>
      {% endfor %}
      
{% endif %}          
{% endblock %}


{% block content %}

  {% if ship_list.count > 1 %}
  <div class="table">
    <table id="table" class="table table-striped"> 
      <thead>       
        <tr>
          <th></th>
          <th>Name</th>
          <th>Ship ID</th>
          <th>On Hull Crew</th>
        </tr>   
      </thead>
  {% for ship in ship_list %}        
        <tr>
          {{ ship.hull_number.as_hidden }}
          {% if ship.image %}
          <td><img src='{{ ship.image.url }}' class='img-responsive' width="70" height="80" /></td>
          {% endif %}
          <td><a href="{% url 'ship:ship_detail' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">{{ ship.ship_name }}</a></td>
          <td>{{ ship.ship_ID }}</td>
          {% if request.user.is_superuser %}  
          <td><a href="#">{{ ship.crew }}</a></td>
          {% else %}
          <td>{{ ship.crew }}</td>
          {% endif %}
        </tr>
  </div>       
  {% endfor %}
  
{% else %}
  {% for ship in ship_list %}
  <div class="page-header row">
    <div class="col-sm-3">
    <h1>{{ ship.ship_name }}</h1>
    </div>
  <div class="col-sm-6">
<div class="btn-group btn-group-lg"  role="group" aria-label="...">
  <a type="button" class="btn btn-default" href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications</a>
  <a type="button" class="btn btn-default" href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies</a>
  <a type="button" class="btn btn-default" href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments</a>
</div>
  </div>
      {% if perms.ship.change_ship %}
      <div class="col-sm-3">
        <h4><a href="{% url 'ship:ship_update' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Update Ship</h4></a>
      </div>
      {% endif %}
  </div>      
  

  {% endfor %}
{% endif %}




{% endblock %}