{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'ship:ship_main' ship_main_slug=main_slug %}">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications</a></li>
            <li><a href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies</a></li>
            <li><a href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments</a></li>
          </ul>
{% endblock %}


{% block content %}


<div class="page-header row">
  <div class="col-sm-4">
  <h1>{{ object.ship_name }}</h1>
  </div>
    {% if perms.ship.change_ship %}
    <div class="col-sm-2">
      <a type="button" class="btn btn-primary" href="{% url 'ship:ship_update' ship_main_slug=main_slug ship_slug=object.ship_slug %}">Update Ship</a>
    </div>
    {% endif %}  
<div class="col-sm-6">  
<div class="btn-group btn-group-lg"  role="group" aria-label="...">
  <a type="button" class="btn btn-default" href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=object.ship_slug %}">Certifications</a>
  <a type="button" class="btn btn-default" href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=object.ship_slug %}">Discrepancies</a>
  <a type="button" class="btn btn-default" href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=object.ship_slug %}">Assessments</a>
</div>
</div>
    
</div>      

{% endblock %}