{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
          </ul>
{% endblock %}


{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete this Space? "{{ object }}"</p>
    <input class='btn btn-danger' type="submit" value="Confirm" />
    <a class='btn btn-default' href="{% url 'ship:space_list' ship_main_slug=main_slug ship_slug=ship.ship_slug assess_slug=assess_name.assess_slug %}">Cancel</a>
</form>
    </div>

{% endblock %}