{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'ship:ship_main' ship_main_slug=main_slug %}">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'ship:certs' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Certifications</a></li>
            <li><a href="{% url 'ship:hits' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Discrepancies</a></li>
            <li><a href="{% url 'ship:assess_list_main' ship_main_slug=main_slug ship_slug=ship.ship_slug %}">Assessments</a></li>
          </ul>
{% endblock %}


{% block content %}
    
<div class="page-header row">
  <div class="col-sm-6">
  <h1>{{ assess_name.name }} Spaces</h1>
  </div>
    {% if perms.ship.add_space %}
    <div class="col-sm-6">
      <h4><a type="button" class="btn btn-md btn-success" href="{% url 'ship:space_create' ship_main_slug=main_slug ship_slug=ship.ship_slug assess_slug=assess_name.assess_slug %}">Add Space</h4></a>
    </div>
    {% endif %}
</div> 
{% for object in object_list %}     
<!--Filter Drop Down	-->
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="{{ team.title }}">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ object.id }}" aria-expanded="false" aria-controls="{{ object.id }}">
                {{ object.name }}
              </a>
            </h4>
          </div>             
          <div id="{{ object.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ object.name }}">
        <div class="panel-body">
          <!--Members-->
				<div class="list-group">
				{% for equipment in object.equipment_set.all %}
				 <a type="button" class="list-group-item" href="{% url 'ship:assessment' ship_main_slug=main_slug ship_slug=ship.ship_slug assess_slug=assess_name.assess_slug pk_1=object.pk pk=equipment.pk  %}">{{ equipment }}</a>
				{% endfor %}
			   </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>          
    {% endfor %}        
{% if perms.ship.delete_space %}        
<div class="col-lg-8 col-sm-offset-2">
  <div class="thumbnail">
    <div class="caption">
    <div class="table-responsive">
      <table id="table" class="table table-striped"> 
        <thead>       
          <tr>
            <hr/>
            <th>Name</th>
            <th>Edit Spaces</th>
            <th>Edit Equipment</th>
            <th>Delete</th>

          </tr>   
        </thead>
    
    {% for object in object_list %}        
          <tr>
            <td>{{ object.name }}</td>
            <td><a type="button" class="btn btn-md btn-primary" href="{% url 'ship:space_update' ship_main_slug=main_slug ship_slug=ship.ship_slug assess_slug=assess_name.assess_slug pk=object.pk %}">Edit</a></td>
            <td><a type="button" class="btn btn-md btn-default" href="{% url 'ship:equipment_list' ship_main_slug=main_slug ship_slug=ship.ship_slug assess_slug=assess_name.assess_slug pk_1=object.pk %}">Equipment List</a></td>
            <td><a type="button" class="btn btn-md btn-danger" href="{% url 'ship:space_delete' ship_main_slug=main_slug ship_slug=ship.ship_slug assess_slug=assess_name.assess_slug pk=object.pk %}">Delete</a></td>
          </tr>
     {% endfor %}
    </div>
  </div>
</div>     
{% endif %}
{% endblock %}