{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'ship:issue_tracker' ship_main_slug=main_slug %}">Issue Tracker <span class="sr-only">(current)</span></a></li>
          </ul>
{% endblock %}


{% block content %}
<div class="page-header row">
  <div class="col-sm-6 col-sm-offset-3">	
{% for ship in ship_class %}
  <h1>System Manager <small>{{ ship.name }} Class</small></h1>
  </div>     
{% endfor %}
</div>

<div class='col-sm-3'>
  <div class='col-sm-2'>
  <a type="button" class="btn btn-md btn-primary" href="{% url 'ship:system_create' ship_main_slug=main_slug %}">Create System</a>
  </div>
</div>
<!--Table-->
{% for variant in variants %}


<script>
    $(document).ready(function() 
        { 
            $("#{{ variant.variant_name }}").tablesorter(); 
        } 
    );
    </script>

<div class ="col-md-6">
  <div class="table">
	<table id="{{ variant.variant_name }}" class="table tablesorter"> 
	  <thead>       
		<tr>
		  <th>{{ variant.variant_name }} Variant</th>
		</tr>
	  </thead>
	  {% for system in variant.variant_type.all %}
		<tr>
		  <td>
			<div class = 'col-sm-6'>
			{{ system.name }}
			</div>
			<div class='col-sm-2'>
			<a type="button" class="btn btn-md btn-primary" href="{% url 'ship:system_update' ship_main_slug=main_slug pk=system.pk %}">Update</a>
			</div>
			<div class='col-sm-2'>
			<a type="button" class="btn btn-md btn-danger" href="{% url 'ship:system_delete' ship_main_slug=main_slug pk=system.pk %}">Delete</a>
			</div>
		  </td>
	  {% endfor %}
		</tr>
  {% endfor %}
  </div>
</div>

{% endblock %}