{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'ship:ship_main' ship_main_slug=main_slug %}">Overview <span class="sr-only">(current)</span></a></li>
          </ul>
{% endblock %}

{% block script %}

<script>
    $(document).ready(function() 
        { 
            $("#domainsTable").tablesorter(); 
        } 
    );
    </script>


{% endblock %}

{% block content %}

<div class="page-header row">
  <div class="col-sm-6 col-sm-offset-3">
{% for ship in ship_class %}
  <h1>Issues Tracker <small>{{ ship.name }} Class</small></h1>
  </div>     
{% endfor %}
</div>

<!--Filter Drop Down	-->
<div class="row">
  <div class="col-sm-6">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading">
		  <h4 class="panel-title">
		  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse">
			Filter
		  </a>
		  </h4>
		</div>
		  <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
			<div class="panel-body">
				  <!--	System		-->
					<form role="form" class="form-inline" method='GET' action=''>		
					  <div class='input-group'>
						<div class="form-group">	
							<select class="select form-control"name="system">
							  <option value="" selected="selected">All Systems</option>
								{% for system in system_list %}
										<option value="{{ system }}">{{ system }}</option>
								{% endfor %}
							</select>
					  <!--Ship Name	-->
						  <select class="select form-control"name="ship">
							<option value="" selected="selected">All Ships</option>
							  {% for ship in ship_list %}
									  <option value="{{ ship.ship_name }}">{{ ship.ship_name }}</option>
							  {% endfor %}
						  </select>
					  <!--Ship Variant-->
						  <select class="select form-control"name="ship_variant">
							<option value="" selected="selected">Both Variants</option>
							  {% for variant in variant_list %}
									  <option value="{{ variant.variant_name }}">{{ variant.variant_name }}</option>
							  {% endfor %}  
						  </select>
					  <!--	CASREP CAT	-->
						  <select class="select form-control" name="cat">
						  {% for discrepancy in discrepancy_list %}  
						  <option value="{{ discrepancy.casrep }}" >{{ discrepancy.casrep }}</option>
						  {% endfor %}
						  <option value="" selected="selected">All CASREPS</option>
						  </select>
						  <!--Active Issues-->
						  <select class="select form-control" name="active">
							<option value=True selected="selected">Active</option>
							<option value=False>Corrected</option>
						  </select>				
						  <div class="btn-group">
						  <input class='btn btn-default' type='submit' value='Go' />
						</div>
						</div>
					  </div>
					</form>
			</div>
		  </div>
	  </div>
	</div>
  </div>	
  <!--Export Button-->
  <div class="col-sm-1">
	<form action="" method="POST">
	  {% csrf_token %}
	  <input type="submit" class="btn btn-md" name="e" value='Export'>
	</form>
  </div>
  <!--Add Issue Modal -->
  <div class='col-sm-1'>
   <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg">Add Issue</button>
	<div class='col-sm-6'>
	  <div class="modal fade bs-example-modal-lg" id="EventModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<form id ='sendForm' method='POST' action='{% url "ajax_hit_list"  %}' enctype='multipart/form-data'>{% csrf_token %}
			  <p id='modalMessage'></p>
			  <div class="row">
				<div class='col-sm-2 col-sm-offset-2'>
				 {{ form.ships|as_crispy_field }}
				</div>
				<div class='col-sm-2 col-sm-offset-2'>
				  <label for="shipselect">System: </label>
				  <select class="select" name="system">
					{% for system in system_list %}
					  <option value="{{ system }}" selected="selected">{{ system }}</option>
				  {% endfor %}
				  </select>
				</div>  
			  </div>
				<hr/>
			  <div class="row">
				<div class='col-sm-3 col-sm-offset-2'>
					{{ form.discover_date|as_crispy_field }}
				</div>
				<div class='col-sm-2'>
				  {{ form.department|as_crispy_field }}</h4>
				</div>  
				  <p id='modalMessage'></p>
				</div>
				<hr/>
				<div class="row">
				  <div class='col-sm-6 col-sm-offset-2' style='text-align: left'>
					{{ form.description|as_crispy_field }}
				  </div>
				
					{{ form.user.as_hidden }}
					{{ form.repair_schedule.as_hidden }}
					{{ form.sat.as_hidden }}
					{{ form.sto.as_hidden }}
					{{ form.jsn.as_hidden }}
					</div>
					<hr/>
					<div class='row'>
						<div class='col-sm-3 col-sm-offset-3'>
						<input type='submit' class='btn btn-default' value='Save' id='sendEventForm' />
						</div>
					</div>
			</form>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!--System Manager --> 
  <div class='col-sm-1'>
	<a type="button" class="btn btn-md btn-default" href="{% url 'ship:system_list' ship_main_slug=main_slug %}">System Manager</a>
  </div>  
</div>

  <!--Table-->
  <div class="table">
	<table id="domainsTable" class="table tablesorter"> 
	  <thead>       
		<tr>
		  <th>System</th>
		  <th>Ship Name</th>
		  <th>Ship Variant</th>
		  <th>Description</th>
		  <th>Date Discovered</th>
		  <th>CASREP CAT</th>
		  <th>Status</th>
		</tr>
	  </thead>
  {% for object in object_list %}        
		<tr>
		  <td><a href="{% url 'ship:hit_detail' ship_main_slug=main_slug ship_slug=object.ships.ship_slug pk=object.pk %}">{{ object.system }}</a></td>
		  <td>{{ object.ships }}</td>
		  <td>{{ object.ships.class_variant }}</td>
		  <td>{{ object.description|truncatechars:20 }}</td>
		  <td>{{ object.discover_date }}</td>
		  <td>{{ object.casrep }}</td>
		  {% if object.active == True %}
		  <td>Active</td>
		  {% else %}
		  <td>Corrected</td>
		  {% endif %}
  
		</tr>
  {% endfor %}	  
  </div>


<script>
$(document).ready(function(){           
	$("#sendEventForm").click(function(e){
		e.preventDefault()    
		var mForm = $("#sendForm").serialize();
		$.ajax({
			type: "POST",
			url: "{% url 'ajax_hit_list'  %}",
			data: mForm,              
			success: function(data){
				console.log(data)
				$("#modalMessage").html("<p>This was Successful</p>")
				   $("#EventModal").modal("hide")
				  location.reload()
			},
			error: function(data){ 
				var obj = data.responseJSON
				console.log(obj)
				$("#modalMessage").html("<p>Please Fill out All Fields!</p>");
			}
		});
			
	});
  });        
</script>



{% endblock %}
