{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    
    {% if title %}
    <h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
    {% endif %}
    
	
	
    <form  method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
	<div class='row'>				
					<div class='col-sm-6'>{{ profileform|crispy }}</div>
	</div> 				
<hr/>
<p>Are you sure you want to Detach <strong>{{ instance.user.profile.rank }} {{ instance.user.first_name }} {{ instance.user.last_name }}</strong>?</p>
	<div class='row'>	
    <hr/>
	<input class='btn btn-default' type='submit' value='Submit' />
    <a class='btn btn-default' href="{% url 'administration:admin_main' admin_main_slug=main_slug %}">Cancel</a>
    </div>   
</form>
</div>
</div>
{% endblock %}