{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'administration:admin_profile_main' admin_main_slug=main_slug pk=profile.pk %}">Profile <span class="sr-only">(current)</span></a></li>
          </ul>
         
{% endblock %}

{% block script %}

<script>
    $(document).ready(function() 
        { 
            $("#domainsTable").tablesorter();
        } 
    );
    </script>


{% endblock %}

{% block content %}

<div class="page-header row">
  <div class="col-sm-6">
  <h1>Designations</h1>
  </div>
</div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-2">       
	<h4 style='color: #90949c'>{{ profile.rank }} {{ profile.user.first_name }} {{ profile.user.last_name }}:</h4>
	</div>
                    {% for designator in profile.user.designation_set.all %}
                    {% if designator.count > 1 %}
         <div class="col-sm-1">           
		<h4 style='color: #90949c'>{{ designator.designator.name }}</h4>
         </div>
                    {% else %}
          <div class="col-sm-1">            
        <h4 style='color: #90949c'>{{ designator.designator.name }}</h4>
                    {% endif %}
          </div>          
                    {% endfor %}             
</div>
<hr/>
	
<div class="row">
	<div class='col-sm-8 col-sm-offset-2'>
	<form method='GET' action=''>
		<div class='input-group'>
			<input class='form-control' type='text' name='q' placeholder='Search' value='{{ request.GET.q }}'/>
			<span class='input-group-btn'>
			<input class='btn btn-default' type='submit' value='Search' />
			</span>
		</div>
	</form>
</div>	
</div>


<div class="col-sm-8 col-sm-offset-2">
  <hr/>    
  <div class="table">
            <table id="domainsTable" class="table tablesorter">
            <thead>       
               <th>Name</th>
               <th>NOS/Designator</th>
               <th>Description</th>
               <th></th>
            </thead>    
            <tbody>
               {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.code }}</td>
                    <td>{{ object.description }}</td>
                    <td>
                    <div class='col-sm-1'>
                    <button type="button" class="btn btn-success"  id="{{ object.id }}-button"><span class="fa fa-check-square"></span></button>
                       <div class="modal fade bs-example-modal-sm" id="{{ object.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="MyModal">
                         <div class="modal-dialog modal-sm" role="document">
                                                            <div class='col-sm-12' style='text-align: center'>
                           <div class="modal-content">
                            <form id ='sendForm{{ object.id }}' method='POST' action='{% url "ajax_designation_add"  %}' enctype='multipart/form-data'>{% csrf_token %}

                                {{ form.user.as_hidden }}
                                
                            <h4>Add {{ object.description }}?</h4>
                            <select class='hidden' name='designator'>
                                <option value="{{ object.id }}" selected="selected">{{ object }}</option>
                            </select>                                    
                            <input type='submit' class='btn btn-default' value='Add' id='sendEventForm{{ object.id }}' />
                            </form>
                            </div>	
                         </div>
                       </div>
                     </div>
                    </div>		 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>   
            </table>   
        </div>
    </div>                  
<script>
{% for object in object_list.all %}    
$(document).ready(function(){           
	$("#sendEventForm{{ object.id }}").click(function(e){
		e.preventDefault()    
		var mForm = $("#sendForm{{ object.id }}").serialize();
		$.ajax({
			type: "POST",
			url: "{% url 'ajax_designation_add'  %}",
			data: mForm,              
			success: function(data){
				console.log(data)
				$("#modalMessage").html("<p>This was Successful</p>")
				   $("#{{ object.id }}-modal").modal("hide")
				  location.reload()
			},
			error: function(data){ 
				var obj = data.responseJSON
				console.log(obj)
				$("#modalMessage").html("<p>Please Fill out All Fields!</p>");
			}
		});
			
	});
  });

  
$('#{{ object.id }}-button').click(function(){
    $("#{{ object.id }}-modal").modal('show');
}); 
{% endfor %}


</script>
{% endblock %}