{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    
    {% if title %}
    <h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ instance }}</h1>
    {% endif %}
    
    <form  method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
	<div class='row'>				
	<div class='col-sm-6'>{{ profileform|crispy }}
    <hr/>    
    </div>
	</div> 				
	<div class='row'>	
	<input class='btn btn-default' type='submit' value='Submit' />    
            <a class='btn btn-default' href="{% url 'administration:admin_main' admin_main_slug=main_slug %}">Cancel</a>
            </div>
        </div>
</form>

{% endblock %}