{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'administration:admin_main' admin_main_slug=main_slug %}">Command Roster <span class="sr-only">(current)</span></a></li>
          </ul>
{% endblock %}

{% block script %}

<script>
    $(document).ready(function() 
        { 
            $("#domainsTable").tablesorter(); 
        } 
    );
    </script>


{% endblock %}

{% block content %}
      <h1 class="page-header">Unassigned Members</h1>
<div class="row">
    <div class="col-sm-3">
	<form method='GET' action=''>
		<div class='input-group'>
			<input class='form-control' type='text' name='q' placeholder='Search First Name or Last Name' value='{{ request.GET.q }}'/>
			<span class='input-group-btn'>
			<input class='btn btn-default' type='submit' value='Search' />
			</span>
		</div>
	</form>
	</div>	  
    <div class="col-sm-3">
    </div>
</div>
<hr/>

  <div class="table">
	<table id="domainsTable" class="table tablesorter"> 
	  <thead>       
		<tr>
		<th>Rank</th>		
		<th>First Name</th>
		<th>Last Name</th>

		<th></th>
		<th></th>

		</tr>
	  </thead>        
{% for profile in profile_list %}        
      <tr>
		<td>{{ profile.rank }}</td>
        <td>{{ profile.user.first_name }}</td>
		<td>{{ profile.user.last_name }}</td>
		<td><a type="button" class="btn btn-default" href="{% url 'administration:transfer_gain' admin_main_slug=main_slug pk=profile.pk %}"><span class="fa fa-check-square"></span> Transfer</a></td>
      </tr>
{% endfor %}       


{% endblock %}