{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'administration:admin_main' admin_main_slug=main_slug %}">Command Roster<span class="sr-only">(current)</span></a></li>
          </ul>
{% endblock %}


{% block content %}

<div class="page-header row">
	<div class="col-sm-6">
	<h3 style='font-weight: bold; color: #90949c'>Basic Information</h3>
	</div>
{% if perms.profiles.change_profile %}     
	    <div class="col-sm-3">
		  <a type="button" class="btn btn-md btn-primary" href="{% url 'administration:admin_profile' admin_main_slug=main_slug pk=profile.pk %}">Edit Profile</a>
		</div>
{% endif %}        
</div>
<div class="row">
	<div class="col-sm-3">
	<h4 style='color: #90949c'>Name</h4>
<hr/>
	</div>
	<div class="col-sm-3">
		<h4 style='color: #90949c'>{{ profile.user.first_name }} {{profile.user.last_name }}</h4>
<hr/>
	</div>
	
</div>

<div class="row">
	<div class="col-sm-3">
	<h4 style='color: #90949c'>Rank</h4>
<hr/>
	</div>
	<div class="col-sm-3">
		<h4 style='color: #90949c'>{{ profile.rank }}</h4>
<hr/>
	</div>
	
</div>

<div class="row">
	<div class="col-sm-3">
    </hr>    
		{% if profile.user.designation.count > 1 %}
	<h4 style='color: #90949c'>Rates</h4>
		{% else %}
	<h4 style='color: #90949c'>Rate/Designator</h4>
		{% endif %}

	</div>
	<div class="col-sm-3">
		{% for designator in profile.user.designation_set.all %}
		{% if designator.count > 1 %}
		<p><h4 style='color: #90949c'>{{ designator }}</h4></p>
		{% else %}
		<h4 style='color: #90949c'>{{ designator.designator.name }}</h4>
        {% endif %}
		{% endfor %}
	</div>
{% if perms.profiles.add_designation %}     
    <div class="col-sm-3">
      <a type="button" class="btn btn-md btn-default" href="{% url 'administration:admin_designation' admin_main_slug=main_slug pk=profile.pk %}">Add Designator</a>
    </div>
{% endif %}   
</div>
 
<div class="row">

	<div class="col-sm-3">
    <hr/>     
	<h4 style='color: #90949c'>Unit</h4>
    
	</div>
	<div class="col-sm-3">
    <hr/>     
		<h4 style='color: #90949c'>{{ profile.unit.name }}</h4>
	</div>
	
</div>

<div class="row">    
	<div class="col-sm-3">
        <hr/>     
		{% if profile.department.count > 1 %}
	<h4 style='color: #90949c'>Departments</h4>
		{% else %}
	<h4 style='color: #90949c'>Department</h4>
		{% endif %}

	</div>
	<div class="col-sm-3">
    <hr/>     
		{% for department in profile.department.all %}
		{% if department.count > 1 %}
		<p><h4 style='color: #90949c'>{{ department.name }}</h4></p>
		{% else %}
		<h4 style='color: #90949c'>{{ department.name }}</h4>
		{% endif %}
		{% endfor %}
	</div>
	
</div>

<div class="row">
	<div class="col-sm-3">
<hr/>		
	<h4 style='color: #90949c'>Email</h4>
<hr/>
	</div>
	<div class="col-sm-3">
<hr/>		
		<h4 style='color: #90949c'>{{ profile.user.email }}</h4>
<hr/>
	</div>
	
</div>


<div class="row">
	<div class="col-sm-3">
	<h4 style='color: #90949c'>Phone Number</h4>
	</div>
	<div class="col-sm-3">
     {% if profile.phone_number %}   
		<h4 style='color: #90949c'>{{ profile.phone_number }}</h4>
     {% else %}
     <h4 style='color: #90949c'>None</h4>
     {% endif %}
	</div>
	
</div>

<div class="row">
	<div class="col-sm-3">
    <hr/>         
	<h4 style='color: #90949c'>Check-in Date</h4>
<hr/>
	</div>
	<div class="col-sm-3">
    <hr/>     
		<h4 style='color: #90949c'>{{ profile.check_in }}</h4>
<hr/>
	</div>
	
</div>

<div class="row">
	<div class="col-sm-3">
	<h4 style='color: #90949c'>PRD</h4>
<hr/>
	</div>
	<div class="col-sm-3">
		<h4 style='color: #90949c'>{{ profile.prd }}</h4>
<hr/>
	</div>
	
</div>
{% endblock %}