{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
<!--          <ul class="nav nav-sidebar">
            <li class="active"><a href="#"> <span class="sr-only">(current)</span></a></li>
          </ul>-->
{% endblock %}

{% block script %}

<script>
    $(document).ready(function() 
        { 
            $("#domainsTable").tablesorter(); 
        } 
    );
    </script>


{% endblock %}

{% block content %}

<div class="page-header row">
  <div class="col-sm-6 col-sm-offset-3">
  <h1>Command Roster <small>  {{ unit.name }}</small></h1>
  </div>     
</div>

<div class="row">
  
  
    <div class="col-sm-3">
	<form method='GET' action=''>
		<div class='input-group'>
			<input class='form-control' type='text' name='q' placeholder='Search First Name or Last Name' value='{{ request.GET.q }}'/>
			<span class='input-group-btn'>
			<input class='btn btn-default' type='submit' value='Search' />
			</span>
		</div>
	</form>
	</div>	
   
    <div class="col-sm-3">
      <a type="button" class="btn btn-success" href="{% url 'administration:admin_transfer' admin_main_slug=main_slug %}"><span class="fa fa-check-square"></span> Add Members</a>
    </div>
</div>

<hr/>

  <div class="table">
	<table id="domainsTable" class="table tablesorter"> 
	  <thead>       
		<tr>
		<th>Rank</th>		
		<th>First Name</th>
		<th>Last Name</th>
		<th>Department</th>
		<th>Check-in Date</th>
		<th>PRD</th>
		<th></th>
		<th></th>

		</tr>
	  </thead>        
{% for profile in profile_list %}        
      <tr>
		<td>{{ profile.rank }}</td>
        <td>{{ profile.user.first_name }}</td>
		<td>{{ profile.user.last_name }}</td>
		<td>{% for department in profile.department.all %}
		{% if department.count > 1 %}
		<p>{{ department.name }}</p>
		{% else %}
		{{ department.name }}
		{% endif %}
		{% endfor %}</td>
		<td>{{ profile.check_in }}</td>
		<td>{{ profile.prd }}</td>
		<td><a type="button" class="btn btn-primary" href="{% url 'administration:admin_profile_main' admin_main_slug=main_slug pk=profile.pk %}"><span class="fa fa-pencil-square"></span> Edit</a></td>
		<td><a type="button" class="btn btn-default" href="{% url 'administration:transfer_detach' admin_main_slug=main_slug pk=profile.pk %}"><span class="fa fa-minus-square"></span> Detach</a></td>
      </tr>
{% endfor %}       








{% endblock %}