{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    
    {% if title %}
    <h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
    {% endif %}
    
        <form  class="form-inline"  method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
        <div class='input-group'>
            <div class="form-group">	
                <div class='row'>
                    <div class='col-sm-4'>
                              <label for="profile">First Name: </label>
                              {{ userform.first_name }}
                    </div>
                    <div class='col-sm-4'>
                              <label for="profile">Last Name: </label>
                              {{ userform.last_name }}
                    </div>
                    <div class='col-sm-4'>
                              <label for="profile">Rank: </label>
                              {{ profileform.rank }}
                    </div>
                    
                </div>
                <hr/>
                <div class='row'>
                    <div class='col-sm-3'>
                          <label for="profile">Email: </label>
                          {{ userform.email }}
                    </div>                     

                    <div class='col-sm-3'>
                              <label for="profile">Password: </label>
                              {{ userform.password }}
                    </div>          
                    <div class='col-sm-3'>
                              <label for="profile">Confirm Password: </label>
                              {{ userform.password2 }}
                    </div>
                </div>
                <hr/>
                <div class='row'>
                    <div class='col-sm-4'>
                      <label for="shipselect">Unit: </label>
                     {{ profileform.unit }}</h4>
                    </div>
                <div class='col-sm-4'>
                          <label for="profile">Auto Password Change: </label>
                          {{ profileform.force_password_change }}
                </div>
                <div class='col-sm-4'>
                    <label for="profile">Active user: </label>
                    {{ userform.is_active }}
                </div> 
            </div>
                <hr/>
            <input class='btn btn-default' type='submit' value='Submit' />
            <a class='btn btn-default' href="{% url 'settings' %}">Cancel</a>
            </div>
        </div>
</form>

{% endblock %}