{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'profiles:team_main' %}">Team Overview <span class="sr-only">(current)</span></a></li>
          </ul>
         
{% endblock %}

{% block script %}

<script>
    $(document).ready(function() 
        { 
            $("#domainsTable").tablesorter();
            $("#domainsTable1").tablesorter();
        } 
    );
    </script>


{% endblock %}

{% block content %}

<div class="page-header row">
  <div class="col-sm-6">
  <h1>{{ team.title }}</h1>
  </div>
</div>


<div class="col-xs-6">
<h4>Command</h4>
<hr/>    
<form method='GET' action=''>
    <div class='input-group'>
        <input class='form-control' type='text' name='q' placeholder='Search First Name or Last Name' value='{{ request.GET.q }}'/>
        <span class='input-group-btn'>
        <input class='btn btn-default' type='submit' value='Search' />
        </span>
    </div>
</form> 
<!--Filter Drop Down	-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading">
      <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse">
        Filter
      </a>
      </h4>
    </div>
      <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
        <div class="panel-body">
              <!--	Rank		-->
                <form role="form" class="form-inline" method='GET' action=''>		
                  <div class='input-group'>
                    <div class="form-group">	
						  <select class="select form-control" name="rank">
                        <option value="" selected="selected">All Ranks</option>  
						  {% for object in profile_list %}  
						  <option value="{{ object.rank }}" >{{ object.rank }}</option>
						  {% endfor %}
						  </select>
                  <!--Rate	-->
                      <select class="select form-control"name="rate">
                        <option value="" selected="selected">All Rates</option>
                          {% for designator in designator_list %}
                                  <option value="{{ designator.name }}">{{ designator.name }}</option>
                          {% endfor %}
                      </select>
                <!--Department-->
                      <select class="select form-control" name="department">
                        <option value="" selected="selected">All Departments</option>
                          {% for department in department_list.all %}
                                  <option value="{{ department }}">{{ department }}</option>
                          {% endfor %}
                      </select>				        
                      <div class="btn-group">
                      <input class='btn btn-default' type='submit' value='Go' />
                    </div>
                    </div>
                  </div>
                </form>
        </div>
      </div>
  </div>
</div>
  <div class="table">
            <table id="domainsTable" class="table tablesorter">
            <thead>       
               <th>Rank</th>
               <th>Rate/Designator</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Department</th>
               <th>Divsion</th>
               <th>Add</th>
            </thead>    
            <tbody>
               {% for object in command_list.all %}
                <tr>
                    <td>{{ object.rank }}</td>
                    <td>
                    {% for designator in object.user.designation_set.all %}
                    {% if designator.count > 1 %}
                        {{ designator }}
                    {% else %}
                        {{ designator.designator.name }}
                    {% endif %}
                    {% endfor %}                        
                    </td>
                    <td>{{ object.user.first_name }}</td>
                    <td>{{ object.user.last_name }}</td>
                    <td>
                    {% for department in object.department.all %}
                    {% if department.count > 1 %}
                    {{ department.name }}
                    {% else %}
                    {{ department.name }}
                    {% endif %}
                    {% endfor %}
                    </td>
                    <td>{{ object.division }}</td>
                    <td>
							<div class='col-sm-1'>
                            <button type="button" class="btn btn-success"  id="{{ object.id }}-button"><span class="fa fa-check-square"></span></button>
                               <div class="modal fade bs-example-modal-sm" id="{{ object.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="MyModal">
                                 <div class="modal-dialog modal-sm" role="document">
                                   <div class='col-sm-12' style='text-align: center'>
																	 <div class="modal-content">
																		
                                    <form id ='sendForm{{ object.id }}' method='POST' action='{% url "ajax_team_main"  %}' enctype='multipart/form-data'>{% csrf_token %}
                                    <h4> {{ form.title.as_hidden }}</h4>
                                    <h4>Add {{ object.rank }} {{ object.user.first_name}} {{ object.user.last_name }} to Team?</h4>
                                    <select class='hidden' name='member'>
                                        <option value="{{ object.user.id }}" selected="selected"></option>
                                    </select>
                                    <input type='submit' class='btn btn-default' value='Add' id='sendEventForm{{ object.id }}' />
                                    </form>
									  </div>
									</div>
                               </div>
                             </div>
							</div>				 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>    
            </table>    
        </div>
    </div>   
<div class="col-xs-6">
  <h4>{{ team.title }} Members</h4>
  <hr/>    
  <div class="table">
            <table id="domainsTable1" class="table tablesorter">
            <thead>       
               <th>Rank</th>
               <th>Rate/Designator</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Department</th>
               <th>Division</th>
               <th>Remove</th>
            </thead>    
            <tbody>
               {% for object in member_list.all %}
                <tr>
                    <td>{{ object.rank }}</td>
                    <td>
                    {% for designator in object.user.designation_set.all %}
                    {% if designator.count > 1 %}
                        {{ designator }}
                    {% else %}
                        {{ designator.designator.name }}
                    {% endif %}
                    {% endfor %}                        
                    </td>
                    <td>{{ object.user.first_name }}</td>
                    <td>{{ object.user.last_name }}</td>
                    <td>
                    {% for department in object.department.all %}
                    {% if department.count > 1 %}
                    {{ department.name }}
                    {% else %}
                    {{ department.name }}
                    {% endif %}
                    {% endfor %}
                    </td>
                    <td>{{ object.division }}</td>
                    <td>
											<div class='col-sm-1'>
                            <button type="button" class="btn btn-danger"  id="{{ object.id }}-button"><span class="fa fa-minus-square"></span></button>
                               <div class="modal fade bs-example-modal-sm" id="{{ object.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="MyModal">
                                 <div class="modal-dialog modal-sm" role="document">
																	<div class='col-sm-12' style='text-align: center'>
                                   <div class="modal-content">
                                    <form id ='sendForm{{ object.id }}' method='POST' action='{% url "ajax_team_delete"  %}' enctype='multipart/form-data'>{% csrf_token %}
                                    <h4>Remove {{ object.rank }} {{ object.user.first_name}} {{ object.user.last_name }} from Team?</h4>
                                    <select class='hidden' name='team'>
                                        <option value="{{ team }}" selected="selected">{{ team }}</option>
                                    </select>                                    
                                    <select class='hidden' name='member'>
                                        <option value="{{ object.user }}" selected="selected">{{ object.user }}</option>
                                    </select>
                                    <input type='submit' class='btn btn-default' value='Remove' id='sendEventForm{{ object.id }}' />
                                    </form>
																	 </div>	
                                 </div>
                               </div>
                             </div>
												</div>		 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>   
            </table>   
        </div>
    </div>                  
<hr/>
<script>
{% for object in command_list.all %}    
$(document).ready(function(){           
	$("#sendEventForm{{ object.id }}").click(function(e){
		e.preventDefault()    
		var mForm = $("#sendForm{{ object.id }}").serialize();
		$.ajax({
			type: "POST",
			url: "{% url 'ajax_team_main'  %}",
			data: mForm,              
			success: function(data){
				console.log(data)
				$("#modalMessage").html("<p>This was Successful</p>")
				   $("#{{ object.id }}-modal").modal("hide")
				  location.reload()
			},
			error: function(data){ 
				var obj = data.responseJSON
				console.log(obj)
				$("#modalMessage").html("<p>Please Fill out All Fields!</p>");
			}
		});
			
	});
  });

  
$('#{{ object.id }}-button').click(function(){
    $("#{{ object.id }}-modal").modal('show');
}); 
{% endfor %}

{% for object in member_list.all %}    
$(document).ready(function(){           
	$("#sendEventForm{{ object.id }}").click(function(e){
		e.preventDefault()    
		var mForm = $("#sendForm{{ object.id }}").serialize();
		$.ajax({
			type: "POST",
			url: "{% url 'ajax_team_delete'  %}",
			data: mForm,              
			success: function(data){
				console.log(data)
				$("#modalMessage").html("<p>This was Successful</p>")
				   $("#{{ object.id }}-modal").modal("hide")
				  location.reload()
			},
			error: function(data){ 
				var obj = data.responseJSON
				console.log(obj)
				$("#modalMessage").html("<p>Please Fill out All Fields!</p>");
			}
		});
			
	});
  });

  
$('#{{ object.id }}-button').click(function(){
    $("#{{ object.id }}-modal").modal('show');
}); 
{% endfor %}


</script>
{% endblock %}