{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'profiles:team_main' %}">Team Overview <span class="sr-only">(current)</span></a></li>
          </ul>
         
{% endblock %}


{% block content %}

<div class="page-header row">
<div class="col-sm-6 col-sm-offset-2">
  <h1>Team Manager</h1>
  </div>
    {% if perms.profiles.add_team %}
    <div class="row">
      <div class="col-sm-3">  
      <a type="button" class="btn btn-md btn-default" href="{% url 'profiles:team_create' %}">Create Team</a>
      </div>
    </div>
    {% endif %}
</div> 
{% for team in team_list %}
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <div class="caption">
<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>Title:</h4>
<hr/>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ team.title }}</h4>
<hr/>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
	<h4 style='color: #90949c'>Team Leader:</h4>
<hr/>
	</div>
	<div class="col-sm-6">
		<h4 style='color: #90949c'>{{ team.team_lead.profile.rank }} {{ team.team_lead.first_name }} {{ team.team_lead.last_name }}</h4>
<hr/>
	</div>
</div>
<!--Filter Drop Down	-->
<div class="row">
	<div class="col-sm-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="{{ team.title }}">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ team.id }}" aria-expanded="false" aria-controls="{{ team.id }}">
                {{ team.title }}
              </a>
            </h4>
          </div>             
          <div id="{{ team.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ team.title }}">
        <div class="panel-body">
          <!--Members-->

				<div class="list-group">
				{% for member in team.teammember_set.all %}
				 <a type="button" class="list-group-item" href="{% url 'profiles:snivel_master' pk=member.member.profile.pk %}">{{ member.member.profile.rank }} {{ member.member.first_name }} {{ member.member.last_name }}</a>
				{% endfor %}
			   </div>

        </div>
      </div>
  </div>
</div>
</div>
</div>
<div class="row">
	<div class="col-sm-6"> 
  <a type="button" class="btn btn-md btn-primary" href="{% url 'profiles:member_change' pk=team.pk %}">Change Members</a>
  </div>
  {% if perms.profiles.delete_team %}
	<div class="col-sm-6"> 
    <a type="button" class="btn btn-md btn-danger" href="{% url 'profiles:team_delete' pk=team.pk %}">Delete Team</a>
  </div>
  {% endif %}
</div>
	  </div>
	</div>
  </div>
{% endfor %}
{% endblock %}